.App {
  font-family: sans-serif;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  background-color: green;
  color: white;
  padding: 15px;
  font-size: 2rem;
}

/* this is link tag...remember it has ancor tag */
/* //space instead of > means decendent instead of 'direct' child . Use this
beacuse there are other elements that get wrapped that we dont know, so just to be sure*/
.nav a {
  color: white;
  text-decoration: none;
}
